In [1]:
import numpy as np
import pandas as pd

### read data

In [2]:
f = "./data/1-s2.0-S1364032122009844-mmc1.xlsx"
df = pd.read_excel(f,header=1)
df.columns

Index(['Index', 'DOI', 'Year', 'Author', 'Source', 'Brine', '%wt of salt',
       'CaBr2', 'CaCl2', 'K2CO3', 'KBr', 'KCl', 'KHCOO', 'MgBr2', 'MgCl2',
       'Na2SO4', 'NaBr', 'NaCl', 'NaHCOO', 'NaI', 'NH4Cl', 'ZnBr2', 'Na⁺',
       'K⁺', 'NH₄⁺', 'Zn⁺', 'Ca⁺⁺', 'Mg⁺⁺', 'Cl⁻', 'Br⁻', 'I⁻', 'HCOO⁻',
       'CO₃⁻⁻', 'SO₄⁻⁻', 'P (MPa)', 'T (K)', 'MLP', 'DT', 'ET'],
      dtype='object')

In [3]:
# df = df[['Na⁺','K⁺', 'NH₄⁺', 'Zn⁺', 'Ca⁺⁺', 
#              'Mg⁺⁺', 'Cl⁻', 'Br⁻', 'I⁻', 'HCOO⁻',
#              'CO₃⁻⁻', 'SO₄⁻⁻', 'P (MPa)', 'T (K)']]
df = df[['Brine', '%wt of salt',
       'CaBr2', 'CaCl2', 'K2CO3', 'KBr', 'KCl', 'KHCOO', 'MgBr2', 'MgCl2',
       'Na2SO4', 'NaBr', 'NaCl', 'NaHCOO', 'NaI', 'NH4Cl', 'ZnBr2', 'Na⁺',
       'K⁺', 'NH₄⁺', 'Zn⁺', 'Ca⁺⁺', 'Mg⁺⁺', 'Cl⁻', 'Br⁻', 'I⁻', 'HCOO⁻',
       'CO₃⁻⁻', 'SO₄⁻⁻', 'P (MPa)', 'T (K)']]
df.head(10)

,Brine,%wt of salt,CaBr2,CaCl2,K2CO3,KBr,KCl,KHCOO,MgBr2,MgCl2,...,Ca⁺⁺,Mg⁺⁺,Cl⁻,Br⁻,I⁻,HCOO⁻,CO₃⁻⁻,SO₄⁻⁻,P (MPa),T (K)
0,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.0,0.0,0.0,0.0,0.0,2.69,268.30
1,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.0,0.0,0.0,0.0,0.0,3.53,271.05
2,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.0,0.0,0.0,0.0,0.0,4.50,273.25
3,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.0,0.0,0.0,0.0,0.0,5.29,274.75
4,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.0,0.0,0.0,0.0,0.0,5.98,275.90
5,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.0,0.0,0.0,0.0,0.0,7.55,278.05
6,NaCl,17.093383,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.05976,0.0,0.0,0.0,0.0,0.0,2.39,263.35
7,NaCl,17.093383,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.05976,0.0,0.0,0.0,0.0,0.0,3.13,265.75
8,NaCl,17.093383,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.05976,0.0,0.0,0.0,0.0,0.0,4.26,268.85
9,NaCl,17.093383,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.05976,0.0,0.0,0.0,0.0,0.0,6.12,271.95

### removing the duplicates

In [4]:
subset_columns = df.columns[:30]
subset_columns

Index(['Brine', '%wt of salt', 'CaBr2', 'CaCl2', 'K2CO3', 'KBr', 'KCl',
       'KHCOO', 'MgBr2', 'MgCl2', 'Na2SO4', 'NaBr', 'NaCl', 'NaHCOO', 'NaI',
       'NH4Cl', 'ZnBr2', 'Na⁺', 'K⁺', 'NH₄⁺', 'Zn⁺', 'Ca⁺⁺', 'Mg⁺⁺', 'Cl⁻',
       'Br⁻', 'I⁻', 'HCOO⁻', 'CO₃⁻⁻', 'SO₄⁻⁻', 'P (MPa)'],
      dtype='object')

In [5]:
duplicate_mask = df.duplicated(subset=subset_columns, keep='first')
df = df[~duplicate_mask]
df

,Brine,%wt of salt,CaBr2,CaCl2,K2CO3,KBr,KCl,KHCOO,MgBr2,MgCl2,...,Ca⁺⁺,Mg⁺⁺,Cl⁻,Br⁻,I⁻,HCOO⁻,CO₃⁻⁻,SO₄⁻⁻,P (MPa),T (K)
0,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.000000,0.0,0.0,0.0,0.0,2.69,268.30
1,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.000000,0.0,0.0,0.0,0.0,3.53,271.05
2,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.000000,0.0,0.0,0.0,0.0,4.50,273.25
3,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.000000,0.0,0.0,0.0,0.0,5.29,274.75
4,NaCl,11.731824,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.03936,0.000000,0.0,0.0,0.0,0.0,5.98,275.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,ZnBr2,15,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.00000,0.027843,0.0,0.0,0.0,0.0,6.14,278.80
983,ZnBr2,15,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.00000,0.027843,0.0,0.0,0.0,0.0,6.88,279.80
984,ZnBr2,15,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.00000,0.027843,0.0,0.0,0.0,0.0,7.80,280.90
985,ZnBr2,15,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.00000,0.027843,0.0,0.0,0.0,0.0,8.27,281.50
986,ZnBr2,15,0.0,0.0,0,0,0.0,0,0.0,0.0,...,0.0,0.0,0.00000,0.027843,0.0,0.0,0.0,0.0,9.46,282.60

In [115]:
df_new = df[df.iloc[:, 0] != 'MgBr2']
df_mgbr2 = df[df.iloc[:, 0] == 'MgBr2']